body {
  background-image: url('https://img.freepik.com/free-photo/mesmerizing-shot-crystal-blue-ocean-waves_181624-48854.jpg?w=2000&t=st=1696784205~exp=1696784805~hmac=70ceb98852449651df60e55134834ee6de8d1eba827a7f7ab30e3ec48ee3f9d9');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.col:first-child {
  background-color: rgb(210, 222, 234);
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 100%;
  align-items: center;
  border: 3px rgb(129, 197, 197) solid;
}

.col:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result-container {
  border: 3px rgb(129, 197, 197) solid;
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  min-width: 16rem;
}

.result-table-wrapper {
  overflow: auto;
  max-height: 75vh;
}

form {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  form {
    margin-right: 4rem;
  }
}

select {
  background-color: white;
  font-size: 1.5rem;
}

select:hover {
  background-color: lightgray;
}

#water {
  height: 100vh;
  width: 100%;
  background-position: center;
}

button {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 30px;
  border: 1px solid dodgerblue;
  border-radius: 25px;
  background-color: dodgerblue;
  color: white;
  margin-top: 35px;
}

button:hover {
  background-color: rgb(31, 61, 118);
}

code {
  text-align: left;
}
